{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Pvt Ltd. is an fictional store created by Nasir iqbal for the purpose of understanding how ecommerce websites work if you want nasir to make one for your buisnees of course it will be more pretty then this one you can email him at engnasir733@gmail.com .</p>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>

  </div> <!-- /container -->

</main>





{% endblock %}
